/* Basic functions */

* {
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

/* GLOBAL OBJECTS */



/* LAYOUT */



/* CLASSES */



/* IDs */
